LIMOVA_API_BASE_URL=https://YOUR_LIMOVA_API_HOST
LIMOVA_API_TOKEN=YOUR_LIMOVA_API_TOKEN
LIMOVA_WORKSPACE_ID=YOUR_WORKSPACE_ID
LIMOVA_DEFAULT_AGENT_ID=YOUR_AGENT_ID
LIMOVA_CREATE_CONVERSATION_PATH=/REPLACE_WITH_CREATE_CONVERSATION_PATH
LIMOVA_SEND_MESSAGE_PATH=/REPLACE_WITH_SEND_MESSAGE_PATH/:conversationId
LIMOVA_LIST_AGENTS_PATH=/REPLACE_WITH_LIST_AGENTS_PATH
LIMOVA_GET_PROFILE_PATH=/REPLACE_WITH_CURRENT_USER_PATH
LIMOVA_TIMEOUT_MS=60000
